<ion-header>
  <ion-toolbar>
    <ion-row>
        <ion-button [routerLink]="['../tabs']">
          <ion-icon name="arrow-back-outline" ></ion-icon>
        </ion-button>
      <ion-title>
        Add Picture
      </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "true">
  <ion-grid>
    <ion-list >
        <ion-item>
          <ion-label position="floating" >TITLE</ion-label>
          <ion-input type="text" 
              [(ngModel)]="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >DESCRIPTION</ion-label>
          <ion-input type="text" [(ngModel)]="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >DATE</ion-label>
          <ion-input type="DATE" [(ngModel)]="date"></ion-input>
        </ion-item>
    </ion-list>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>