<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
        Gallery
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
      <ion-item *ngFor="let picture of listPictures; index as position">
        <ion-avatar slot="start" (click)="showActionSheet(picture)">
          <ion-img [src]="picture.webviewPath"></ion-img>
        </ion-avatar>
          <ion-col>
            <ion-label>{{picture.imageTitle}}</ion-label>
            <ion-label>{{picture.content}}</ion-label>
          </ion-col>
        
        
      </ion-item>
  </ion-list>
</ion-content>
