<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
        Photo Gallery
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let photo of photoService.photos; index as position">

    <ion-modal [isOpen]=openModel>
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-row>
                <ion-button (click)="closeModel()">
                  <ion-icon name="arrow-back-outline" ></ion-icon>
                </ion-button>
              <ion-title>
                Change the Image
              </ion-title>
            </ion-row>
          </ion-toolbar>
        </ion-header>

        <ion-content [fullscreen] = "true">
          <ion-grid>
            <ion-list >
                <ion-item>
                  <ion-label position="floating" >TITLE</ion-label>
                  <ion-input type="text" 
                      [(ngModel)]="title"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" >DESCRIPTION</ion-label>
                  <ion-input type="text" [(ngModel)]="description"></ion-input>
                </ion-item>
            </ion-list>
          </ion-grid>
        
          <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button (click)="changeImage(photo, position)">
              <ion-icon name="camera"></ion-icon>
            </ion-fab-button>
          </ion-fab>

        </ion-content>
      </ng-template>
    </ion-modal>


    <ion-card-header>
      <ion-item>
        <ion-card-title>{{photo.imageTitle}}</ion-card-title>
        <ion-button slot="end" (click)="showActionSheet(photo, position)">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-header>
    <ion-item>
      <ion-img [src]="photo.webviewPath"></ion-img>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{photo.content}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        {{photo.imageDate}}
      </ion-label>
    </ion-item>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [routerLink]="['/add-item']" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>

