<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-item *ngIf="userLogged|async as user">
      <ion-img [src]="user.photoURL"></ion-img>
    </ion-item>
    <ion-item *ngIf="userLogged|async as user">
      <ion-label>Welcome {{user.email}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-button (click)="logOut()" [routerLink]="['']">Log Out</ion-button>
    </ion-item>
  </ion-grid>
 
</ion-content>
