<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Log In
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

    <form (ngSubmit)="logInEmail()" [formGroup]="credentials">
        <ion-item lines="full">
            <ion-label position="floating">E-Mail</ion-label>
            <ion-input type="email"  formControlName="email" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" [disabled]="!credentials.valid" (click)="logInEmail()">Log in</ion-button>
        <ion-button type="button" expand="block" [disabled]="!credentials.valid" color="secondary" (click)="register()">Create account</ion-button>
        <ion-button type="button" expand="block" (click)="logInGoogle()">LogIn With Google</ion-button>
    </form>
 </ion-content>

